<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <!-- listener - наш клас, з пакету ioc -->
    <listener>
        <listener-class>ioc.ConfigListener</listener-class>
    </listener>

    <!-- filter - не наш, з Guice пакету -->
    <filter>
        <filter-name>GuiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GuiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
